{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="form-header">
  <h2>Donation History</h2>
  <div class="table-container">
    <table>
      <tr id="donations-header">
        <th>{% translate "Amount" %}</th>
        <th>{% translate "Status" %}</th>
        <th>{% translate "Kind" %}</th>
        <th>{% translate "Source" %}</th>
        <th>{% translate "Date" %}</th>
      </tr>
      <tr hx-get="_partials/donations" hx-swap="outerHTML" hx-trigger="load">
        <td colspan=5>{% translate "Loading your donations data..." %}</td>
      </tr>
    </table>
  </div>
  <p><a href="{% url 'profile' %}">{% translate "⬅️ Go Back" %}</a></p>
</div>
{% endblock %}
