{% extends 'base.html' %}
{% block content %}
<div class="form-header">
  <h2>Donation History</h2>
  <div class="table-container">
    <table>
      <tr id="donations-header">
        <th>Amount</th>
        <th>Status</th>
        <th>Kind</th>
        <th>Source</th>
        <th>Date</th>
      </tr>
      <tr hx-get="_partials/donations" hx-swap="outerHTML" hx-trigger="load">
        <td colspan=5>Loading your donations data...</td>
      </tr>
    </table>
  </div>
  <p><a href="{% url 'profile' %}">⬅️ Back</a></p>
</div>
{% endblock %}
