{% extends 'base.html' %}
{% load markdownify %}

{% block extra_head %}
{% with event=object %}
<meta property="og:type" content="article">
<meta property="og:title" content="PBA Event - {{ event.title }}">
<meta property="og:url" content="https://apps.bikeaction.org/events/{{ event.wordpress_slug }}">
{% if event.cover %}<meta property="og:image" content="{{ event.cover }}">{% endif %}
<meta property="og:description" content="{{ event.description|truncatechars:"300" }}">
{% endwith %}
<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
{% endblock %}

{% block content %}
<div class="event-nav-top">
  <a href="{% url 'events_list' %}"><span><i class='bx bx-chevrons-left'></i> All Events</span></a>
</div>

{% with event=object %}
<div class="event-event">
  <div class="event-header">
    <div class="event-header-box">
      <div class="event-header-box-day-of-week">
        <span class="">{{ event.start_datetime|date:"D"|upper }}</span>
      </div>
      <div class="event-header-box-day-of-month">
        <span class="">{{ event.start_datetime|date:"j" }}</span>
      </div>
    </div>
  </div >
  <div class="event-details">
    <div class="event-date">{{ event.start_datetime|date:"F j @ g:i a" }}{% if event.end_datetime %} - {{ event.end_datetime|date:"g:i a" }}{% endif %}</div>
    <div class="event-title">{{ event.title }}</div>
    <div class="event-location"><i class="bx bxs-map"></i> {{ event.location }}</div>
    {% if event.status != 'completed' %}
    <div class="button-holder">
      {% if request.user.is_authenticated %}
        {% if event in request.user.profile.events %}
        <p>You are currently RSVP'd "Yes"!</p>
        <a class="submit-button" href="{% url 'event_rsvp_cancel' event.wordpress_slug %}">Cancel RSVP</a>
        {% else %}
        <a class="submit-button" href="{% url 'event_rsvp' event.wordpress_slug %}">RSVP</a>
        {% endif %}
      {% else %}
        <a class="submit-button" href="{% url 'event_rsvp' event.wordpress_slug %}">RSVP</a>
      {% endif %}
    </div>
    {% endif %}
    {% if event.cover %}
    <div class="event-cover"><img src="{{ event.cover }}"></div>
    {% endif %}
    <div class="event-description">
    {% markdownify %}
    {{ event.description|markdownify }}
    {% endmarkdownify %}
    </div>
  </div>
</div>

<div class="add-to-calendar" style="text-align: center;">
<hr>
<br>
<add-to-calendar-button
  name="{{ event.title }}"
  startDate="{{ event.start_datetime|date:"Y-m-d" }}"
  startTime="{{ event.start_datetime|date:"G:i" }}"
  {% if event.end_datetime %}endTime="{{ event.end_datetime|date:"G:i" }}"{% endif %}
  timeZone="{{ event.start_datetime.timezone }}"
  location="{{ event.location }}"
  description="{{ event.description }}"
  lightMode="bodyScheme"
  buttonStyle="flat"
  hideCheckmark="True"
  size="4|4|4"
  options="'Google','Outlook.com','Microsoft365','Apple'"
  hideBackground="True"
></add-to-calendar-button>
</div>
{% endwith %}

<div class="pagination">
  <div class="pagination-nav next">
    {% if next_event %}
    <span><a href="{% url 'event_detail' next_event.wordpress_slug %}">{{ next_event.title }} <i class='bx bx-chevrons-right'></i></a></span>
    {% endif %}
  </div>
  <br><br>
  <div class="pagination-nav previous">
    {% if previous_event %}
    <span><a href="{% url 'event_detail' previous_event.wordpress_slug %}"><i class='bx bx-chevron-left'></i> {{ previous_event.title }}</a></span>
    {% endif %}
  </div>
</div>
{% endblock %}
