<p>Address: {{ address }}</p>

<hr>

<h2>Your RCO{% if RCOS|length > 1 %}s{% endif %}</h2>

<ul>
{% for rco in RCOS %}
  {% if rco.targetable %}
  <li><b>{{ rco.name }}</b></li>
  {% endif %}
{% endfor %}
{% for rco in RCOS %}
  {% if not rco.targetable %}
  <li>{{ rco.name }}</li>
  {% endif %}
{% endfor %}
</ul>

{% if RCOS|length > 1 %}
<p><small><i>You have multiple RCOs! <b>Bolded</b> RCOs are your primary RCO. If there is no bolded RCO, it is <i>often</i> the first one listed for your address</i></small></p>
{% endif %}

{% if OTHER|length > 0 or WARDS|length > 0 %}
<hr>
{% endif %}

{% if OTHER|length > 0 %}
<p>Other entities registered as RCOs:</p>
<ul>
{% for rco in OTHER %}
  <li>{{ rco.ORGANIZATION_NAME }} (<i>{{ rco.ORG_TYPE }} </i>)</li>
{% endfor %}
</ul>
{% endif %}

{% if WARDS|length > 0 %}
<p>Partisan political wards registered as RCOs:</p>
<ul>
{% for rco in WARDS %}
  <li>{{ rco.ORGANIZATION_NAME }} (<i>{{ rco.ORG_TYPE }} </i>)</li>
{% endfor %}
</ul>
{% endif %}

{% if DISTRICT %}
<hr>

<h2>You are in <u>District {{ DISTRICT }}</u></h2>

{% endif %}
{% if POLLING_PLACE %}
<p><b>You are in Ward {{ WARD }} Division {{ DIVISION }}</b></p>

<small>Your Polling Place for voting is: {{ POLLING_PLACE }}</small>
{% endif %}

<hr>

{% if address_lat %}
<div id="rcomap" style="height: 40vh; width: 100%; z-index: 1;">
</div>
<script>
  var map = L.map('rcomap').setView([{{ address_lat }}, {{ address_long }}], 13);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
  var poppup = L.marker([{{ address_lat }}, {{ address_long }}]).addTo(map);
  L.geoJSON({{ DISTRICT_GEOJSON }}, {style: {color: '#111111'}}).bindTooltip(function (layer) {return 'District ' + layer.feature.properties.DISTRICT}, {permanent: true, opacity: 0.7}).openTooltip().addTo(map);
  {% for rco in RCOS_GEOJSON %}
  L.geoJSON({{ rco }}).bindTooltip(function (layer) {return layer.feature.properties.ORGANIZATION_NAME}, {permanent: true, opacity: 0.7}).openTooltip().addTo(map);
  {% endfor %}
</script>
{% endif %}
