{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="form-header">
  <h1>{% blocktranslate %}Update profile{% endblocktranslate %}</h1>
</div>
<div class="form-container">
  <form method="post">
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <p>
      {{ field.label_tag }}
      {{ field.errors }}
      {{ field }}
      <span class="helptext">{{ field.help_text }}</span>
    </p>
  {% endfor %}

  {% url 'account_change_password' as change_password_url %}
  <p><small>{% blocktranslate %}Change your password <a href="{{ change_password_url }}">here</a>{% endblocktranslate %}.</small></p>

  <div class="button-holder">
    <button class="submit-button" type="submit" value="Submit!">{% translate "Submit" %}</button>
  </div>

  </form>
</div>
{% endblock %}
