{% extends 'base.html' %}
{% block content %}
<div class="form-header">
  <h1>Updating profile for {{ profile.user.first_name }}</h1>
</div>
<div class="form-container">
  <form method="post">
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <p>
      {{ field.label_tag }}
      {{ field.errors }}
      {{ field }}
      <span class="helptext">{{ field.help_text }}</span>
    </p>
  {% endfor %}

  <p><small>Change your password <a href="{% url 'account_change_password' %}">here</a>.</small></p>

  <button type="submit" value="Submit!">Submit</button>
  </form>
</div>
{% endblock %}
