{% extends 'base.html' %}
{% load socialaccount %}
{% block content %}
<hr>
<div class="form-header">
  <h1>Welcome to Philly Bike Action, {{ profile.user.first_name }}</h1>
  <div class="table-container">
    <table>
        <tr>
          <th>First Name</th>
          <td>{{ profile.user.first_name }}</td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td>{{ profile.user.last_name }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ profile.user.email }}</td>
        </tr>

        <tr>
          <th>Council District</th>
          <td>{{ profile.council_district }}</td>
        </tr>
        <tr>
          <th>Zip Code</th>
          <td>{{ profile.zip_code }}</td>
        </tr>
        <tr>
          <th>Newsletter</th>
          <td>{% if profile.newsletter_opt_in %}Subscribed{% else %}Not Subscribed{% endif %}</td>
        </tr>
        <tr>
          <th>Discord</th>
          <td>
            {% if profile.discord %}
            {{ profile.discord.extra_data.username }}
            {% else %}
            <a class="smol-button" href="{% provider_login_url "discord" process="connect" %}">Connect your discord account</a>
            {% endif %}
          </td>
        </tr>
    </table>
  </div>
  <p>Need to update any of the above? <a href="{% url 'profile_update' %}">Click Here!</a></p>
  {% if request.user.has_usable_password %}
  <p>Change your password <a href="{% url 'account_change_password' %}">here</a>.</p>
  {% else %}
  <p style="color: darkred;"><b>Your account does not have a password set.</b></p>
  <p><b>Set a password for your account <a href="{% url 'account_set_password' %}">here</a>.</b></p>
  {% endif %}
</div>
<hr>
<div class="form-header">
  <h2>Donations</h2>
  <div class="button-holder">
    <p><a class="submit-button" href="{% url 'create_one_time_donation_checkout_session' %}">Make a one-time donation</a></p>
  </div>
  <p><small>
    Philly Bike Action is a social welfare organization incorporated in the Commonwealth of Pennsylvania.
    Contributions to Philly Bike Action are not deductible as charitable contributions for federal income tax purposes.
  </small></p>
  {% if request.user.djstripe_customers.first %}
  <div hx-get="_partials/donations" hx-trigger="load" hx-swap="outerHTML">
    <p>Loading your donations data...</p>
  </div>
  {% else %}
  <div class="button-holder">
    <p><a class="submit-button" href="{% url 'setup_recurring_donation' %}">Setup a recurring donation</a></p>
  </div>
  {% endif %}
</div>
<hr>
{% endblock %}
