{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="form-header">
  <h1>{% translate "Are you sure?" %}</h1>
</div>
<div class="form-container">
  <form method="post">
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <p>
      {{ field.label_tag }}
      {{ field.errors }}
      {{ field }}
      <span class="helptext">{{ field.help_text }}</span>
    </p>
  {% endfor %}

  <div class="button-holder">
    <button class="submit-button" type="submit" value="Yes">{% translate "Yes" %}</button>
    <a href="{% url 'profile' %}" class="submit-button" value="No">{% translate "No" %}</a>
  </div>

  </form>
</div>
{% endblock %}

