/* Header and Nav */

.header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #70bf44;
  height: 6em;
  font-family: "Big Shoulders Display";
  position: relative;
}

.img-header {
  display: inline-block;
  float: left;
  height: 5em;
  padding: 1em;
}

.img-header img {
  height: 4em;
}

.nav-header {
  float: left;
  overflow: hidden;
}

.nav-header img:first-child {
  display: inline-block;
  height: 5em;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.nav-header ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.nav-header ul:first-child {
  position: absolute;
  bottom: 0;
}

.nav-header li {
  list-style-type: none;
  padding: .75em;
  margin: 0;
  text-align: center;
  display: inline-block;
  float: left;
}

.nav-header a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.nav-header li ul {
  display: none;
  position: absolute;
  z-index: 1;
  margin-left: -.75em;
  background-color: #d8107d;
}

.nav-header li ul li {
  float: none;
  display: list-item;
}

.nav-header li ul li:first-child {
  margin-top: .75em;
}

.nav-header li:hover {
  background-color: #d8107d;
}

.nav-header li:has(ul)::after {
    content: '⌄';
    position: relative;
    bottom: .4em;
    color: white;
}

.nav-header li:hover ul {
  display: block;
}

.nav-header li ul:hover {
  display: block;
}

.nav-header li ul li:hover {
  background-color: #70bf44;
}

.nav-header li:has(a.current_branch) {
  background-color: #d8107d;
}

.nav-header li ul li:has(a.current_item) {
  background-color: #70bf44;
}

.mobile-nav-header {
  display: none;
  float: right;
  padding: 0;
}

@media only screen and (max-width: 600px) {

  .header {
    height: 4em;
  }

  .img-header {
    height: 3em;
  }

  .img-header img {
    height: 2em;
  }

  .nav-header img:first-child {
    height: 1em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .nav-header ul { display: none; }

  .mobile-nav-header {
    display: block;
  }

  .mobile-nav-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .mobile-nav-header a {
    color: white;
    text-decoration: none;
    font-size: 1.75em;
    display: block;
  }

  #menu-icon {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  #menu-icon ~ ul {
    display: none;
  }

  #mobileNavTree {
    display: none;
    position: absolute;
    right: 0em;
    top: 4em;
    z-index: 5;
  }

  .mobile-nav-header ul li {
    padding-bottom: 0;
  }

  .mobile-nav-header ul li:last-child {
    padding-bottom: .25em;
  }

  .mobile-nav-header ul li ul li {
    width: 9em;
  }

  .mobile-nav-header li {
    width: 10em;
    padding: .25em;
    text-align: left;
    background-color: #70bf44;
    padding-left: 1em;
    padding-right: 1em;
  }

  .mobile-nav-header li ul {
    background-color: #d8107d;
    z-index: 1;
  }

  .mobile-nav-header li:hover {
    background-color: #d8107d;
  }

  .mobile-nav-header li:has(a.current_branch) {
    background-color: #d8107d;
  }

  .mobile-nav-header ul li ul li:has(a.current_item) {
    background-color: #d8107d;
  }
}

/* Messages */
.messages {
  background: #d8107d;
  margin: 0 auto;
  width: 100%;
  color: #E8E8E8;
  text-align: center;
}

box-icon {
  position: relative;
  top: .25em;
}

.messages box-icon {
  position:relative;
  float: left;
  display: block;
  top: -.25em;
}

.messages .alert {
  margin: 0 auto;
  padding: .5em;
  display: block;
}

.messages .alert span {
  margin: 0 auto;
}

/* Page Content */

.content-container {
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
}
@media screen and (max-width: 40rem) {
  .content-container {
    width: 90%;
  }
}

/* Footer */
.footer {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: auto;
}

.footer .footer-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer .footer-row .footer-column {
  margin: 1em;
  min-width: 10em;
  width: 25%;
}

.footer .copyright {
  padding: 1em;
  background-color: #70bf44;
}

/* Forms */

form {
  padding: 1em;
}
.form-container {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  border-radius: 5px;
  border-radius: 1em;
  border: 1px solid black;
  padding: 1em;
}
.form-header {
  width: 95%;
  max-width: 40rem;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 1em;
  text-align: center;
}
.form-header img {
  padding: 1em;
  width: 50%;
}
form label {
  width: 9em;
  margin-bottom: .25em;
  display: block;
  float: left;
}
form textarea {
  max-width: 20em;
  width: 90%;
}
form label[for=id_captcha] {
  display: none;
}
form .helptext {
  padding-top: .5em;
  display: block;
  font-size: smaller;
  color: #404040;
}
form .errorlist {
  list-style: none;
  color: red;
}
form p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
form p + p {
  padding-top: .5em;
}
form ul {
  font-size: smaller;
  margin-block-start: .5em;
  margin-block-end: 0em;
}
form .g-recaptcha {
  padding-bottom: 0em;
}

.button-holder {
  text-align: center;
  padding: 1em;
}

/* CSS */
.submit-button, button {
  appearance: button;
  background-color: #83BD56;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  font-family: "Big Shoulders Display";
  font-weight: bold;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.submit-button:focus, button:focus {
  text-decoration: none;
}

.submit-button:focus, button:hover {
  text-decoration: none;
}

.submit-button:focus, button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.submit-button:not([disabled]):active, button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .submit-button, button {
    padding: 12px 50px;
  }
}

@media screen and (max-width: 40rem) {
  .submit-button, button {
    font-size: 1.5em;
  }
}

body {
  font-family: "Ubuntu";
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.table-container {
  width: 100%;
}
.table-container table {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: .9em;
    text-align: left;
    min-width: 35em;
    table-layout:fixed;
    width:90%;
}
@media screen and (max-width: 40rem) {
  .table-container table {
    min-width: 80vw;
    font-size: 3vw;
  }
}
.table-container th {
    background-color: #83BD56;
    color: #ffffff;
}
.table-container th,
.table-container td {
    padding: .25em 1em;
}
.table-container tbody tr {
    border-bottom: 1px solid #dddddd;
}
.table-container tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.table-container tbody tr:last-of-type {
    border-bottom: 2px solid #83BD56;
}
.table-container .smol-button {
  display: inline-block;
  color: white;
  border: none;
  padding: .15em;
  background-color: grey;
  border-radius: .15em;
  text-decoration: none;
  margin: .2em;
}
.copyable {
  margin-right: .5em;
  padding: .5em;
}
.copyable + p {
  display: inline;
}

.campaign-container {
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
}

.campaign-header {
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
  margin-left: 50%;
  transform: translateX(-50%);
}

.campaign-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(216,16,125,0.75);
  z-index: -1;
}

.campaign-header-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.campaign-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
  width: 100%;
}

.campaign-header h1 {
  margin-top: 2em;
  margin-bottom: 2em;
  color: white;
  font-size: 3em;
  padding-left: 1em;
  padding-right: 1em;
  opacity: 1;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  .campaign-header h1 {
    font-size: 1.75em;
  }
}

.campaigns-container {
  display: flex;
}

.campaign-card {
  width: 45%;
}

.campaign-card a {
  color: black;
  text-decoration: none;
}

.campaign-card img {
  width: 100%;
}

.petition-letter {
  border: 1px solid lightgrey;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #F8F8F8;
}

.signature-card {
  border: 1px solid grey;
  border-radius: 1em;
  background-color: #eeeeee;
}

.signature-card footer {
  font-size: smaller;
}

.signature-card + .signature-card {
  margin-top: 1em;
}

.signature-card:last-child {
  margin-bottom: 1em;
}

.petition-preview-email table {
  border-radius: 1em;
  border: 1px solid black;
  margin-left: 0;
  margin-right: 0;
  padding: 1em;
  width: 100%;
  background: repeating-linear-gradient(
    45deg,
    #F8F8F8,
    #F8F8F8 10px,
    #FFFFFF 10px,
    #FFFFFF 20px
  );
}

@media only screen and (max-width: 600px) {
  .petition-preview-email table {
    font-size: .8em;
  }
}


.petition-preview-email .user-input {
  background: rgba(216,16,125,.25);
}
