{% extends 'base.html' %}
{% load humanize %}

{% block extra_head %}
<meta property="og:type" content="article">
<meta property="og:title" content="{{ campaign.title }}">
<meta property="og:url" content="https://bikeaction.org/campaigns/{{ campaign.slug }}">
<meta property="og:image" content="{{ campaign.cover }}">
<meta property="og:description" content="{{ campaign.description }}">
{% endblock %}

{% block content %}
<div class="campaign-header">
    <div class="campaign-header-img" style="background: url({{ campaign.cover }}); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
    <h1>{{ campaign.title }}</h1>
</div>
<div class="campaign-container">
{% if campaign.petitions.all or campaign.events.all %}
  <div class="button-holder">
    <a href="#action" class="cta-button submit-button" >Take Action Now!</a>
  </div>
{% endif %}

{{ campaign.content_rendered|safe }}

{% if campaign.petitions.all or campaign.events.all %}
<span id="action"></span>
<h2>Take Action Now!</h2>
{% endif %}
{% if campaign.events.all %}
  <h3>Attend an event</h3>
  <div id="events">
    {% for event in campaign.events.all %}
    <div class="event">
      <a href="https://bikeaction.org/events/{% if event.wordpress_slug %}{{ event.wordpress_slug }}{% else %}{% endif %}"><box-icon name='calendar-event'></box-icon> {{ event.title }} - {{ event.start_datetime|date }}</a>
    </div>
    {% endfor %}
  </div>
{% endif %}
{% if campaign.petitions.all %}
  <h3>Sign {% if campaign.petitions.all|length > 1 %}a{% else %}the{% endif %} petition</h3>
  <div id="petitions">
  {% for petition in campaign.petitions.all %}
    <div class="petition">
      {% include 'petition/form.html' with petition=petition form=petition.form %}
    </div>
    {% if petition.signatures.all %}
    <div class="signatures">
      <h2>{{ petition.signatures.count }} Signatures So Far!</h2>
      {% if petition.signatures_with_comment %}
      <h3>{{ petition.comments }} Comments</h3>
      <p>Recent comments...</p>
      {% for signature in petition.distinct_signatures_with_comment|dictsortreversed:"created_at" %}
      {% if signature.comment and signature.featured %}
      <div class="signature-card feature featuredd">
        <blockquote>
          <p>"{{ signature.comment }}"</p>
          <footer>-{{ signature.first_name }} {{ signature.last_name|make_list|slice:':1'|join:'' }}. <i>{{ signature.created_at|naturaltime }}</i></footer>
        </blockquote>
      </div>
      {% endif %}
      {% endfor %}
      {% for signature in petition.distinct_signatures_with_comment.all|dictsortreversed:"created_at" %}
      {% if signature.comment and not signature.featured %}
      <div class="signature-card">
        <blockquote>
          <p>"{{ signature.comment }}"</p>
          <footer>-{{ signature.first_name }} {{ signature.last_name|make_list|slice:':1'|join:'' }}. <i>{{ signature.created_at|naturaltime }}</i></footer>
        </blockquote>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
  </div>
{% endif %}
</div>
<script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
</script>
{% endblock %}
