{% extends 'base.html' %}

{% block extra_head %}
<meta property="og:type" content="article">
<meta property="og:title" content="{{ campaign.title }}">
<meta property="og:url" content="https://bikeaction.org/campaigns/{{ campaign.slug }}">
<meta property="og:image" content="{{ campaign.cover }}">
<meta property="og:description" content="{{ campaign.description }}">
{% endblock %}

{% block content %}
<div class="campaign-header">
    <div class="campaign-header-img" style="background: url({{ campaign.cover }}); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
    <h1>{{ campaign.title }}</h1>
</div>
<div class="campaign-container">
{% if campaign.petitions.all %}
  <div class="button-holder">
    <a href="#petitions" class="submit-button" >Take Action Now!</a>
  </div>
{% endif %}
{{ campaign.content_rendered|safe }}
{% if campaign.petitions %}
  <div id="petitions">
  <h2>Take Action Now!</h2>
  {% for petition in campaign.petitions.all %}
    <div class="petition">
      {% include 'petition/form.html' with petition=petition form=petition.form %}
    </div>
  {% endfor %}
  </div>
{% endif %}
</div>
{% endblock %}
