{% extends 'base.html' %}
{% load static leaflet_tags %}
{% block extra_head %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="{% static 'js/leaflet-heat.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Project Lazer Violation Reports</h1>
    <script>
      var heatmapLayer = L.heatLayer(JSON.parse('{{ pins_json }}'), {radius: 10, blur: 5, minOpacity: .4})
      function map_init (map, options) {
        map.setView([39.9528, -75.1635], 12);
        map.setMinZoom(12);
        const bounds = L.latLngBounds([[39.8528, -75.2635], [40.0528, -75.0635]]);
        map.setMaxBounds(bounds);
        map.on('drag', function() {
            map.panInsideBounds(bounds, { animate: false });
        });
        heatmapLayer.addTo(map);
      }
    </script>

    {% leaflet_map "lazer_reports" callback="window.map_init" %}
{% endblock %}
