<ion-header>
  <ion-toolbar>
    <ion-title> Project Lazer </ion-title>
    <ion-buttons slot="end">
      <ion-icon
        class="onlineIndicator indicatorGreen"
        [style.display]="online? '': 'none'"
        name="cloud"
      ></ion-icon>
      <ion-icon
        class="onlineIndicator indicatorRed"
        [style.display]="online? 'none': ''"
        name="cloud-offline"
      ></ion-icon>
      <ion-spinner
        class="onlineIndicator"
        [style.display]="(online === null)? '': 'none'"
        name="dots"
      ></ion-spinner>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="geoPerms">
    <ion-card *ngIf="violationPosition && violationImage">
      <ion-card-header>
        <ion-card-title>Violation</ion-card-title>
        <ion-card-subtitle>Ready to process</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div id="imageContainer">
          <ion-img
            id="imagePreview"
            *ngIf="violationImage"
            [src]="violationImage"
          ></ion-img>
        </div>
        <ion-item>
          <ion-icon name="time" slot="start"></ion-icon>
          <ion-text *ngIf="violationTime !== null"
            >{{ violationTime.toLocaleDateString() }} {{
            violationTime.toLocaleTimeString() }}</ion-text
          >
        </ion-item>
        <ion-item>
          <ion-icon name="location" slot="start"></ion-icon>
          Lat: {{ violationPosition.coords.latitude }}
        </ion-item>
        <ion-item>
          <ion-icon name="location" slot="start"></ion-icon>
          Lng: {{ violationPosition.coords.longitude }}
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="(violationPosition === null) && (violationImage)">
      <ion-card-content> Awaiting Location data... </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngIf="!geoPerms">
    <ion-card-header>
      <ion-card-title>GeoLocation</ion-card-title>
      <ion-card-subtitle>Permission required</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      We need permission to access your location to accurately report
      violations.
      <br />
      <br />
      <ion-button (click)="requestGeoPerms()" expand="block">
        <ion-icon name="navigate-circle" slot="start"></ion-icon>
        Request Now
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="lastViolationData">
    <ion-card-header>
      <ion-card-title>Last Capture</ion-card-title>
      <ion-card-subtitle *ngIf="!lastViolationSelected"
        >Select Which Vehicle You're Reporting</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <div id="imageContainer">
          <img id="imagePreview" *ngIf="lastImage" [src]="lastImage" />
        </div>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Address</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><b>{{ lastViolationData.address }}</b></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Date</ion-col>
            <ion-col>Time</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><b>{{ lastTime!.toLocaleDateString() }}</b></ion-col>
            <ion-col><b>{{ lastTime!.toLocaleTimeString() }}</b></ion-col>
          </ion-row>
          <div *ngIf="lastViolationSelected">
            <ion-row>
              <ion-col>Make</ion-col>
              <ion-col>Model</ion-col>
              <ion-col>Color</ion-col>
            </ion-row>
            <ion-row *ngIf="lastViolationSelected.vehicle">
              <ion-col
                ><b
                  >{{ lastViolationSelected!.vehicle?.props?.make_model[0].make
                  }}</b
                ></ion-col
              >
              <ion-col
                ><b
                  >{{ lastViolationSelected!.vehicle?.props?.make_model[0].model
                  }}</b
                ></ion-col
              >
              <ion-col
                ><b
                  >{{ lastViolationSelected!.vehicle?.props?.color[0].value
                  }}</b
                ></ion-col
              >
            </ion-row>
            <ion-row *ngIf="lastViolationData.vehicle?.plate">
              <ion-col colspan="2">Plate</ion-col>
            </ion-row>
            <ion-row *ngIf="lastViolationData">
              <ion-col>
                <b>
                  {{ lastViolationSelected!.plate?.props?.region[0]?.value }} {{
                  lastViolationSelected!.plate?.props?.plate[0]?.value.toUpperCase()
                  }}
                </b>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer *ngIf="geoPerms">
  <ion-toolbar>
    <ion-button
      (click)="takePicture()"
      *ngIf="violationImage === null"
      expand="block"
      size="large"
    >
      <ion-icon name="camera" slot="start"></ion-icon>
      Capture image
    </ion-button>

    <ion-button
      (click)="submit()"
      *ngIf="(violationImage !== null) && (violationPosition !== null)"
      expand="block"
      size="large"
    >
      <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
      Process
    </ion-button>
  </ion-toolbar>
</ion-footer>
