{% load django_htmx sitetree static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=5">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/pba.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script defer data-domain="apps.bikeaction.org" src="https://plausible.io/js/script.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    {% block title %}
    <title>{% translate "Philly Bike Action!" %}</title>
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <div class="header">
      <div class="img-header">
        <a href="https://bikeaction.org/" aria-label="{% translate "Philly Bike Action! Home" %}"><img alt="{% translate "Philly Bike Action!" %}" src="{% static 'images/pba-letters.svg' %}"></img></a>
      </div>
      <div class="nav-header">
        {% if LANGUAGE_CODE == "es" %}
        {% sitetree_menu from "header-es" include "trunk,topmenu" %}
        {% else %}
        {% sitetree_menu from "header" include "trunk,topmenu" %}
        {% endif %}
      </div>
      <div class="mobile-nav-header">
        <a href="javascript:void(0);" aria-label="Toggle navigation" onclick="toggleNav()">
          <box-icon id="menu-icon" name='menu' color="white" size="md"></box-icon>
        </a>
        <div id="mobileNavTree">
          {% if LANGUAGE_CODE == "es" %}
          {% sitetree_menu from "header-es" include "trunk,topmenu" %}
          {% else %}
          {% sitetree_menu from "header" include "trunk,topmenu" %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endblock %}
    <div class="messages">
      <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
          <box-icon name='x-circle' color="#E8E8E8" class="icon-remove alert-close" onclick="closeAlert(this)"></box-icon>
          <span>{{ message }}</span>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="content-container">
    {% block content %}
    {% endblock %}
    </div>
    <div class="footer">
    {% block footer %}
        <div class="footer-row">
          <div class="footer-column">
            <div>
              <img width="90%" style="padding: 1em;" alt="{% translate "Philly Bike Action!" %}" src="{% static 'images/brand/PBA_pink_alpha.png' %}">
              <p>{% translate "Safe, usable, protected, interconnected bike infrastructure for Philadelphia." %}</p>
              <span><a style="text-decoration: none; color: white;" href="mailto:info@bikeaction.org"><box-icon name='envelope' color="white" style="position: relative; top: .4em;"></box-icon> info@bikeaction.org</a></span>
            </div>
          </div>
          <!--
          <div class="footer-column">
            <h3>Subscribe to our Newsletter</h3>
            <form>
              <div class="form-fields">
                <p>
                  <label for="id_first_name">First name:</label>
                  <input type="text" name="first_name" maxlength="64" required="" id="id_first_name">
                  <span class="helptext"></span>
                </p>
                <p>
                  <label for="id_last_name">Last name:</label>
                  <input type="text" name="last_name" maxlength="64" required="" id="id_last_name">
                  <span class="helptext"></span>
                </p>
                <p>
                  <label for="id_email">Email:</label>
                  <input type="email" name="email" maxlength="254" required="" id="id_email">
                  <span class="helptext"></span>
                </p>
              </div>
              <div class="button-holder">
                <input class="submit-button" type="submit" value="Submit">
              </div>
            </form>
          </div>
          -->
          <div class="footer-column">
            <h3>{% translate "Find us on Social Media" %}</h3>
              <a class="social-icon" aria-label="{% translate "@phlbikeaction on twitter" %}" href="https://twitter.com/phlbikeaction"><box-icon color="white" size="md" type='logo' name='twitter'></box-icon></a>
              <a class="social-icon" aria-label="{% translate "@phlbikeaction on instagram" %}" href="https://www.instagram.com/phlbikeaction/"><box-icon color="white" size="md" type='logo' name='instagram'></box-icon></a>
              <a class="social-icon" aria-label="{% translate "Philly Bike Action Discord" %}" href="https://discord.gg/FNYfjzjWnB"><box-icon color="white" size="md" type='logo' name='discord'></box-icon></a>
            <h3>{% translate "Join our Discord" %}</h3>
              <a class="social-icon" aria-label="{% translate "Philly Bike Action Discord" %}" href="https://discord.gg/FNYfjzjWnB"><box-icon color="white" size="lg" type='logo' name='discord'></box-icon></a>
            <h3>{% translate "Policies" %}</h3>
              <a style="color: white" href="{% url "privacy" %}">Privacy and Data Statement</a><br>
              <a style="color: white" href="{% url "conduct" %}">Code of Conduct</a>
          </div>
        </div>
        <div class="copyright"><span><i class='bx bx-copyright'></i> {% translate "2025 Philly Bike Action. All rights reserved." %}</span></div>
    {% endblock %}
    </div>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% django_htmx_script %}
    <script>
        function closeAlert(elem) {
            elem.parentElement.remove()
        }
        function toggleNav() {
            var nav = document.getElementById("mobileNavTree");
            if (nav.style.display == "block") {
                nav.style.display = "none";
            } else {
              nav.style.display = "block";
            }
        }
    </script>
  </body>
</html>
