{% load django_htmx sitetree static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/pba.css' %}">
    
    {% block extra_js %}
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <div class="header">
      <div class="img-header">
        <a href="https://bikeaction.org/"><img src="{% static 'images/pba-letters.svg' %}"></img></a>
      </div>
      <div class="nav-header">
        {% sitetree_menu from "header" include "trunk,topmenu" %}
      </div>
    </div>
    <!--
    <div class="header">
      <a class="nav-button" href="{% url 'index' %}">Home</a>
      {% if request.user.is_authenticated %}
      {% if request.user.is_staff %}
      <a class="nav-button" href="{% url 'admin:index' %}">Admin</a>
      {% endif %}
      <a class="nav-button" href="{% url 'profile' %}">Profile</a>
      <a class="nav-button" href="{% url 'account_logout' %}">Log out</a>
      {% else %}
      <a class="nav-button" href="{% url 'account_login' %}">Log in</a>
      <a class="nav-button" href="{% url 'account_signup' %}">Sign up</a>
      {% endif %}
    </div>
    -->
    {% endblock %}
    <div class="messages">
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
          <span class="icon-remove alert-close" onclick="closeAlert(this)"></span>
          <p>{{ message }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="content-container">
    {% block content %}
    {% endblock %}
    </div>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% django_htmx_script %}
    <script>
        function closeAlert(elem) {
            elem.parentElement.remove()
        }
    </script>
  </body>
</html>
