{% extends "base.html" %}
{% load static %}

{% block content %}

<div style="max-width: 40em; margin: 0 auto;">
<h1>Send Email: {{ maillink.title }}</h1>

{% if maillink.description%}
<p style="font-size: larger;">{{ maillink.description }}</p>
{% endif %}

<table class="email">
  <tr><td>Subject:</td><td><b>{{ maillink.subject }}</b></td></tr>
  <tr><td>To:</td><td><b>{{ maillink.to }}</b></td></tr>
  {% if maillink.cc %}<tr><td>Cc:</td><td>{{ maillink.cc }}</td></tr>{% endif %}
  <tr><td class="email-body" colspan=2>{{ maillink.body }}</td></tr>
</table>

<p style="width: 100%; text-align: center;">
  <a class="cta-button submit-button" href="{{ maillink.link }}">Send Now!</a>
</p>
</div>
{% endblock %}
