{% extends "base.html" %}
{% load static %}

{% load wagtailuserbar %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}cms-stream-page{% endblock %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block content_container %}
<div class="content-container homepage-container">
{% block content %}
  {% wagtailuserbar %}
  <div class="homepage-content">
    <div class="homepage-body-container">
      {% image page.hero_background original as body_background %}
      <div class="homepage-body-background-overlay"></div>
      <img class="homepage-body-background" src="{{body_background.url}}">
      <div class="homepage-actions-container">
        <div class="homepage-leadout">
          <div class="homepage-logo-img">
            <img src="{% static 'images/pba-logo.svg' %}">
          </div>
          <div class="homepage-leadout-img">
            <img src="{% static 'images/pba-glyph.svg' %}">
          </div>
          <div class="homepage-leadout-text">
            <div class="title">Safe, protected bike lanes for Philadelphia</div>
            <div class="text">
Philly Bike Action is a 501(c)4 non-profit run entirely by volunteers.
            </div>
          </div>
        </div>

        <div class="homepage-action-join">
          <div class="action-text">Join the Action!</div>
          <div class="button-corral" style="display: grid; grid-template-columns: 1fr 1fr;">
            <button style="grid-column: span 2;" class="homepage-button homepage-button-pink">Get Involved</button>
            <button style="grid-column: span 2;" class="homepage-button homepage-button-pink">Become a member</button>
            <button style="grid-column: span 2;" class="homepage-button homepage-button-pink">Join our Discord</button>
            <button style="" class="homepage-button">Events</button>
            <button style="" class="homepage-button">Campaigns</button>
          </div>
        </div>
      </div>

      <div class="homepage-action-subscribe">
        <div>
          <div class="action-text subscribe-text">Subscribe to our monthly newlsetter</div>
          <form action="javascript:void(0);">
            <input type="text" placeholder="Your Name" required="">
            <input type="email" placeholder="Email" maxlength="320" required="">
            <button type="post" class="homepage-button">Submit</button>
          </form>
        </div>
      </div>

    </div>

    <div class="homepage-body-container">
      {% image page.body_background original as body_background %}
      <div class="homepage-body-background-overlay"></div>
      <img class="homepage-body-background" src="{{body_background.url}}">
      <div class="homepage-body">
        {% include_block page.body %}
      </div>
    </div>
  </div>
{% endblock %}
</div>
{% endblock %}
